<% if message.id.present? %>
<div class="message row">
  <div class="col-sm-12">
    <div class="message-avatar">
      <%= image_tag(message.user.image, size: "65x65") %>
    </div>
    <div class="message-box">

      <div class="message-title">
        <% if message.user != nil %>
        <em class="text-red"><%= message.user.username %></em>
        <span class="message-timestamp"><%= message.created_at.strftime("%d %b. %Y %H:%M") %></span>

      </div>
      <p><%= message.body %></p>
      <% end %>

    </div>
  </div>
</div>
<% end %>