<h1><%= @user.first_name %></h1>

<% @users.each do |user| %>
 <!-- This(below) needs to show links to the users events -->
	<%= user.first_name %>
	<% end %>
	
	<% unless @user == current_user || current_user.request_friendship!(@user) || current_user.friends?(@user) %>

<!-- Need to clean this commented out code up(should work with submit button to create friendship. Use the enfriend method?) -->
    
    <%# form_for(:friendship, :url => user_friends_path(:user_id => current_user.id, :friend_id => @user.id)) do |f| %>
      <%= submit_tag "Add to My Friends" %>
    <%# end %>
  <%# end %>
<% end %>

<div class="my-friends">
	<%= render :partial => 'my_friends' %>
</div>