<%#= form_tag all_search_path do %>
  <%#= text_field_tag "query" %>
  <%#= submit_tag "Search" %>
<%# end %>


<h3 class="minor-heading">RESULTS</h3>

<h1 class="main-heading">Friends Events</h1>
<div class="results-div"><%= render @friend_event_matches %></div>
<hr>

<h1 class="main-heading">My Events</h1>
<div class="results-div"><%= render @created_event_matches %></div>
<hr>

<h1 class="main-heading">Friends</h1>
<div class="results-div"><%= render @friend_matches %></div>
<hr>

<h1 class="main-heading">Everyone</h1>
<div class="results-div"><%= render @user_matches %></div>
