<div id="error_explanation">
  <p class="text-danger">message cannot be saved due to <%= pluralize(@message.errors.count, "error") %>:</p>

  <ul>
  <% @message.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>