<% if current_user %>
	<h2>Convesation</h2>
	<% @event.messages.each do |message| %>
	<p>
		<%= message.body %>
		<% if message.user != nil %>
		<em> by <%= message.user.username %> </em> 
		Added on: <%= message.created_at %> 
		<% end %>
	</p>
	<% end %>
<% end %>
<br>