<div class="navbar-form navbar-right">
  <%= form_tag events_path, method: :get, authentication: false, id: 'search-form' do %>
  	<%= text_field_tag :search, params[:params], :input_type =>'text', :class => 'form-control', :placeholder =>'search' %>
  	<%= submit_tag "Search", :type => 'submit', :class => 'btn btn-default thin form-control' %>
  <% end %>
</div><br> 