@import "bootstrap-sprockets";
@import "bootstrap";
@import "messages";
@import "events";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*FONTS*/
@font-face {
  font-family: Lato-Bold;
  src: url('/fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: Lato-Regular;
  src: url('/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: Lato-Light;
  src: url('/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: Lato-thin;
  src: url('/fonts/Lato-thin.ttf');
}
@font-face {
  font-family: Cardoi99;
  src: url('/fonts/Cardoi99.otf');
}
/*FONTS*/


html, body {
  min-height: 100%;
  /*background-color:#e9e9e9;*/
}
a {
  text-decoration: none !important;
}
.main-header {
  background: #606060;
  padding: 5px;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  height: 5%;
  left: 0;
  z-index:1040;
  transition: all 0.3s ease;
}
.main-header a {
  position: absolute;
  left: 35px;
  top: -20%;
  color: white;
  font-size: 32px;
}
.page-wrap {
  position: relative;
  float: right;
  width: 100%;
  transition: width 0.3s ease;
  margin-bottom: 30px;
}
.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  /*background: #a3a3a3;*/
  background-image: image-url("blurred_cups_strip.jpg");
  overflow-y: auto;
  transition: width 0.3s ease;
}
.main-nav a {
  display: block;
  border-bottom: 1px solid #a3a3a3;
  color: white;
  padding: 15px;
  opacity:0;
  transition: opacity 0.3s ease;
}
.flash_notice {
	position: fixed;
	margin-top: 5%;
}
.nav-bar-title {
	font-size: 19px;
	margin-top: 5px;
}
.toggle-menu{
  padding:5px;
}
.main-nav a:hover, .main-nav a:focus {
  background-color:#6f6f6f;
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
}
.content {
  padding-top: 100px;
  font-family: 'Lato-Regular';
}
.close-menu {
  display: none;
}
.glyphicon.glyphicon-tasks {
  font-size: 20px;
}

/*navbar search*/
.navbar-form {
	margin-top: -2.3%;
}
#search-form {
  /*background-color: white;*/
}
#search {
  /*border: 2px white solid;*/
  border-radius: 0px;
  font-family: Lato-Bold;
  font-size: 1em; 
  height: 30px;
  padding-right: 0px;
}
input.btn.btn-default.thin.form-control{
    border-radius: 0px;
    height: 30px;
    border: 2px white solid;
    background: none;
    color: #888888;
}
input.btn.btn-default.thin.form-control:hover{
  transition: 0.3s ease;
    border-radius: 0px;
    height: 30px;
    border: 2px #ff3427 solid;
    background-color: #ff3427;
    color: white;
}
/*navbar search*/

.form-control {
	height: 20px;
}
.btn.btn-default.thin{
	padding: 0px 12px;
}
.login-container {
  text-align: center;
}

#main-nav:target {
  width: 15%;
}
#main-nav:target > a{
	opacity:1;
}
#main-nav:target + .page-wrap {
  width: 80%;
}
#main-nav:target + .page-wrap .open-menu {
  display: none;
}
#main-nav:target + .page-wrap .close-menu {
  display: block;
}
#main-nav:target + .page-wrap .main-header {
  width: 85%;
  left: 15%;
}
.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('http://s3.postimg.org/6q3ff7e4z/05132014_Beach_Party_original_copy.jpg');
  background-repeat:repeat;
}
.fullscreen_bg_cups {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  /*background-image: url('http://s28.postimg.org/bnn89b8m5/tumblr_m79x80z9_M51r3pbe7o1_1280_blured_1.jpg');*/
  background-image: image-url("blurred_cups.jpg");
  background-repeat:repeat;
}

.login-container {
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}



/*div#silo {
    text-align: center;
    margin-top: 5%;
}*/
/*SIGNIN LOGOS*/
div#silo {
  background-image: image-url("nhie_logo_2.png");
  background-position: 50% 50%;
  background-size: contain;
  height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 5%;
}


div#silo:hover {
  background-image: image-url("nhie_logo_1.png");
  background-position: 50% 50%;

}
/*SIGNIN LOGOS*/

/*SIGNUP LOGOS*/
div#signup-logos {
  background-image: image-url("nhie_logo_2.png");
  background-position: 50% 50%;
  background-size: contain;
  height: 400px;
  width: 400px;
  float: left;
  margin-left: 15%;
  margin-top: 10%;
  -webkit-transition:width .5s, height .5s, -webkit-transform .5s;
  transition:width .5s, height .5s, transform .5s;
}
div#signup-logos:hover {
  background-image: image-url("nhie_logo_4.png");
  background-position: 50% 50%;
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}
/*SIGNUP LOGOS*/




.bottom{
  width: 250px;
  height: 250px;
  margin-right: auto;
margin-left: auto;
} 

.signup-logo-left{
  width: 400px;
  height: 400px;
  float: left;
  margin-right: auto;
  margin-left: 12%;
  margin-top: 5%;
} 

/*SIGNIN FORM*/
.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 11%;
  float: right;
  margin-right: 20%;
  text-align: left;
}

.form-signup {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 4%;
  float: right;
  margin-right: 20%;
}
label {
  color: white;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10;
}

.form-control::-webkit-input-placeholder, textarea.box::-webkit-input-placeholder {
  color: #cccccc;
}
.Signin-page-heading {
  color: white;
  font-family: Lato-Light;
  margin-bottom: 4px;
}
.Signin-page-line {
  margin-bottom: 30px;
  margin-top: 5px;
}
/*SIGNIN FORM*/

/*USERNAME INPUT*/
input#username, 
input#password, 
input#user_first_name, 
input#user_last_name, 
input#user_username,
input#user_email,
input#user_password,
input#user_password_confirmation {
  background: none;
  color: white;
  outline:none;
  border-radius: 0px; 
}

input#user_image {
  color: white;
}

input#username:focus, input#password:focus {
  outline:none;
}

/*SIGN IN CHECKBOX */
label.checkbox {
  display: inline;
}

/*SIGN IN BUTTON*/
input.btn.btn-lg.btn-primary.btn-block {
  border-radius: 0px;
  border-color: white;
  border: 2px white solid;

  background: none;
}
input.btn.btn-lg.btn-primary.btn-block:hover{
  transition: background-color 0.5s ease;
  background-color: #ff3427;
  border: 2px #ff3427 solid;
}

a {
  color: #ff3427;
}

.over-form-right-line {
  width: 400px;
  margin-bottom: 0px;
}

/*FLIPPING CONTAINER*/
.flip-container {
  -webkit-perspective:1000;
  -moz-perspective:1000;
  width: 600px;
  margin: auto;
}
.flipper {
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  position: relative;
  height: 200px;
}
.front, .back {
  width: 600px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  color: #fff;
  font-size: 2em;
  /*line-height: 200px;*/
  text-align: center;
}
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  background: #666666;
}
.front { z-index: 2;  color: #666666; border: 3px #444444 solid;}

.vertical-flip-container .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
}
.vertical-flip-container:hover .flipper, .vertical-flip-container.hover .flipper {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
}
/*FLIPPING CONTAINER*/

a.event-list-titles-dark {
  font-family: Lato-light;
  color: #3c3c3c;
  font-size: 1.3em;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10%
}

a.event-list-titles-light {
  font-family: Lato-Bold;
  color: white;
  font-size: 0.9em;
}

hr.event-index-card-lines {
  width: 75px;
}

p.event-description {
  /*margin-top: -100px;*/
  font-family: Lato-light;
  text-align: center;
}

/*SIDEBAR*/
.sidebar-photo {
  height: initial;
  width: 85%;
  margin-left: 8%;
  margin-top: 8%;
  border-radius: 50%; 
  text-align: center;
}
.sidebar-photo > img {
    height: initial;
  width: 80%;
  border-radius: 50%; 
  border: 4px white solid;
}
.sidebar-links> a {
  text-align: center;
  color: white;
  opacity: 100;
  /*margin-top: 5%;*/
  margin: 0;
  padding: 10;
  font-family: Lato-Light;
  font-size: 1em;
  border: 1px rgba(60, 60, 60, 0.25) solid;
  text-transform: uppercase;
}
.sidebar-links> a:hover {
  text-align: center;
  color: white;
  opacity: 100;
  background-color: #ff3427;
  /*margin-top: 5%;*/
  margin: 0;
  padding: 10;
  font-family: Lato-Light;
  font-size: 1em;
  border: 1px rgba(60, 60, 60, 0.25) solid;
  text-transform: uppercase;
  transition: background-color 0.5s ease;

}
.sidebar-name {
  color: white;
  font-family: Lato-Bold;
  font-size: 1.2em;
  text-align: center;
}
.member-since {
  color: #888888;
  font-size: 0.7em;
  font-family: Lato-Light;
  position: absolute;
  bottom: 0;
  /*text-align: center;*/
  margin-left: 20%;
}
.sidebar-hr {
  border-color: #666666;
}
/*SIDEBAR*/

/*CREATE EVENT FORM*/
input.btn.btn-lg.btn-primary.btn-block.on-white {
  border-radius: 0px;
  border: 2px #888888 solid;
  color: #888888;
  font-family: Lato-Regular;
  margin-bottom: 75px;
  background: none;
}
input.btn.btn-lg.btn-primary.btn-block.on-white:hover {
  transition: background-color 0.5s ease;
  background-color: #ff3427;
  border: 2px #ff3427 solid;
  color: white;
}
#event_event_name, #event_description, #event_location, #event_url {
  border-color: #888888;
}

a.btn.btn-lg.btn-primary.btn-block {
  font-family: Lato-Regular;
  background-color: #ff3427;
  border: 2px #ff3427 solid;
  color: white;
  border-radius: 0px;
  width: 300px;
  word-spacing: -12px;
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */

}
a.btn.btn-lg.btn-primary.btn-block:hover {
  font-family: Lato-Regular;
  background-color: #ff3427;
  border: 2px #ff3427 solid;
  color: white;
  border-radius: 0px;
  width: 330px;
}
/*CREATE EVENT FORM*/

/*HEADINGS*/
.main-heading {
  color: #444444;
  font-family: Lato-Light;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sub-heading {
  color: #444444;
  font-family: Lato-BOLD;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 10px;
}
/*HEADINGS*/

.text-danger {
  color: #ff3427;
  text-transform: uppercase;
}

.text-red {
  color: #ff3427;
}
