@import "bootstrap-sprockets";
@import "bootstrap";
@import "messages";

html, body {
  min-height: 100%;
  background-color:#e9e9e9;
}
a {
  text-decoration: none !important;
}
.blank-wrap{
  /*background-color:#e9e9e9;*/
  height:400px;
  padding:20px;
  color:#fff;
  margin-bottom:20px;
}
.wrap{
  /*background-color:#e9e9e9;*/
  height:400px;
  padding:20px;
  color:#303030;
  margin-bottom:20px;
}
.main-header {
  background: #606060;
  padding: 5px;
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  height: 7%;
  left: 0;
  z-index:1040;
  transition: all 0.3s ease;
}
.main-header a {
  position: absolute;
  left: 35px;
  top: -20%;
  color: white;
  font-size: 32px;
}
.page-wrap {
  position: relative;
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}
.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #a3a3a3;
  overflow-y: auto;
  transition: width 0.3s ease;
}
.main-nav a {
  display: block;
  border-bottom: 1px solid #a3a3a3;
  color: white;
  padding: 15px;
  opacity:0;
  transition: opacity 0.3s ease;
}
.flash_notice {
	position: fixed;
	margin-top: 5%;
}
.nav-bar-title {
	font-size: 19px;
	margin-top: 5px;
}
.toggle-menu{
  padding:5px;
}
.main-nav a:hover, .main-nav a:focus {
  background-color:#6f6f6f;
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
}
.content {
  padding: 100px 20px 20px 20px;
}
.close-menu {
  display: none;
}

/*navbar search*/
.navbar-form {
	margin-top: -33px;
}

.form-control {
	height: 20px;
}
.btn.btn-default.thin{
	padding: 0px 12px;
}
.login-container {
  text-align: center;
}

#main-nav:target {
  width: 15%;
}
#main-nav:target > a{
	opacity:1;
}
#main-nav:target + .page-wrap {
  width: 80%;
}
#main-nav:target + .page-wrap .open-menu {
  display: none;
}
#main-nav:target + .page-wrap .close-menu {
  display: block;
}
#main-nav:target + .page-wrap .main-header {
  width: 85%;
  left: 15%;
}
.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('http://s3.postimg.org/6q3ff7e4z/05132014_Beach_Party_original_copy.jpg');
  background-repeat:repeat;
}

.login-container {
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

div#silo {
    text-align: center;
    margin-top: 5%;
}
.bottom{
  width: 250px;
  height: 250px;
  margin-right: auto;
margin-left: auto;
} 
/*MY CODE*/
         /* .signin-logo1{
            height: 100px;
            width: 100px;
            background-color: blue;
            /*background-image: url('http://s28.postimg.org/nfrmxl10d/smallcar.jpg');*/
          /*}*/
          /*.signin-logo1:hover {
            height: 100px;
            width: 100px;
            background-color: red;
          }*/
/*MY CODE*/

.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 1%;
}

label {
  color: white;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10;
}

/*USERNAME INPUT*/
input#username, input#password {
  background: none;
  color: white;
  outline:none;
}

input#username:focus, input#password:focus {
  outline:none;
}

/*SIGN IN BUTTON*/
input.btn.btn-lg.btn-primary.btn-block {
  border-radius: 23px;
  border-color: white;
  background: none;
}
input.btn.btn-lg.btn-primary.btn-block:hover{
  transition: background-color 0.5s ease;
  background-color: #C83728;
  border: 0px white solid;
}

a {
  color: #C83728;
}