// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-header {
  text-align: center;
  // border: 5px #888888 solid;
  border: 5px black solid;
}

h3.event-title {
  // color: #888888;
  color: black;
  font-size: 50px;
  font-family: 'Lato-light';
  text-transform: uppercase;
 
}

.byline {
  color: #FF3427;
  font-size: 16px;
  font-family: 'Lato-Regular';
}

.event-info > p {
  color: #888888;
  font-size: 16px;
  font-family: 'Lato-Regular';
  // position: fixed;
  // top: 30px;
  // right: 5px;
}



