// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-header {
  text-align: center;
  /*// border: px #888888 solid;*/
  border: 3px #444444 solid;
  margin-bottom: 50px;
  padding-bottom: 16px;
  height: 200px;
}

h3.event-title {
  // color: #888888;
  color: black;
  font-size: 2.3em;
  font-family: 'Lato-light';
  text-transform: uppercase;
  word-wrap: break-word;
  margin-bottom: 0px;
  margin-top: 10%;
}

.byline {
  color: #FF3427;
  font-size: 16px;
}

.event-section {
  margin-top: 20px;
}

.event-info > p {
  color: #888;
  font-size: 16px;
}

.event-info > a {
  text-transform: capitalize;
  font-size: 16px;
}

// label on left
.event-label:before {
  width: 25%;
  margin-left: 75%;
  border-top: 1px solid #CCC;
  display: block;
  content: "";
  margin-bottom: 5px;
}

.event-label {
  width: 150px;
  position: absolute;
  left: -175px;
  text-align: right;
  color: #CCC;
  font-family: Cardoi99;
  text-transform: uppercase;
}
// label on the left

input.btn.btn-default.thin.form-control.event-button {
  border: 1px solid #CCC;
  box-shadow: none;
  margin-top: 5px;
}
input.btn.btn-default.thin.form-control.event-button.event-action {
  margin: 75px 0;
}
