// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-header > h3 {
  color: #6B6E80;
  font-size: 50px;
  text-transform: capitalize;
  font-family: Helvetica Neue;
  font-weight: 200;
  // text-align: center;
}

.event-card {
  color: #5BC0DE;
  font-size: 18px;
  text-align: center;
  font-family: Helvetica Neue;
  padding: 10px 24px;
  border: 7px solid #FFF;
  // background-color: #FFF;
  height: 500px;
  border-radius: 3px;
}

.panel-heading.event-header {
  background-color: #FFF;
  color: #6B6E80;
  text-align: center;
}

.byline {
  color: #5BC0DE;
}

.event-info {
  // color: #9A9A9A;
  // font-family: Helvetica Neue;
  // border-radius: 11px;
  // padding: 27px 0px;
  // margin-top: 11px;
  // background-color: #FFF;
  // border-width: 1px;
  // border-color: #9A9A9A;
}
