@import "bootstrap-sprockets";
@import "bootstrap";
@import "messages";
@import "events";
@import "search";
@import "users";
@import "friends";

/*GLYPHICONS LINK*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/*GLYPHICONS LINK*/

/*FONTS*/
@font-face {
  font-family: Lato-Bold;
  src: url('/fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: Lato-Regular;
  src: url('/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: Lato-Light;
  src: url('/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: Lato-thin;
  src: url('/fonts/Lato-thin.ttf');
}
@font-face {
  font-family: Cardoi99;
  src: url('/fonts/Cardoi99.otf');
}
@font-face {
  font-family: Entypo;
  src: url('/fonts/Entypo.otf');
}
@font-face {
  font-family: Montserrat-Regular;
  src: url('/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: norwester;
  src: url('/fonts/norwester.otf');
}
/*FONTS*/
div.flash_notice {
  margin-top: 120px;
  margin-left: 20px;
  font-family: Lato-Bold;
  color: #EA5A50;
}
.nhie-nav {
  padding-top: 15px;
}

.main-large-logo{
  width: 300px;
}

.main-large-logo > img {
  width: 500px;
  margin-top: 10px;
  transition: width 0.4s ease-out;

}
.main-large-logo > img:hover {
  width: 490px;
  /*margin-left: -5px;*/
  margin-top: 10px;
    transition: width 0.4s ease-out;
    /*transition: margin-left 0.6s ease;*/
}
.container-fluid {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
}

html, body {
  min-height: 100%;
  font-family: Lato-Regular;
  min-width: 300px;
  background-color:#f9f9f9;
}
a {
  text-decoration: none !important;
  color: #EA5A50;
  font-size: 16px;
}
.main-header {
  /*background: #606060;*/
  padding: 5px;
  text-align: center;
  color: white;
  position: fixed;
  /*width: 100%;*/
  height: 5%;
  left: 0;
  z-index:1040;
  transition: all 0.3s ease;
}
.main-header a {
  position: absolute;
  left: 30px;
  top: -5%;
  color: white;
  font-size: 32px;
  margin-top: 27px;
}
.page-wrap {
  position: relative;
  float: right;
  width: 100%;
  transition: width 0.3s ease;
  margin-bottom: 30px;
}
.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  /*background: #a3a3a3;*/
  background-size: 25%;
  background-attachment: fixed;
  background-image: image-url("blurred_cups_strip_purple.jpg");
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 1050;
  box-shadow: inset -2px 0px 20px 2px rgba(56,56,55,0.75);
}
.main-nav a {
  display: block;
  border-bottom: 1px solid #a3a3a3;
  color: white;
  padding: 15px;
  opacity:0;
  transition: opacity 0.3s ease;
}
.flash_notice {
  position: fixed;
  margin-top: 5%;
}
.flash_alert {
  float: right;
  margin-right: -25px;
  font-family: Lato-Bold;
  color: #EA5A50;
  position: relative;
  font-size: 1.5em;
}
.alert {
  float: right;
  margin-right: -25px;
  font-family: Lato-Bold;
  color: #EA5A50;
  position: relative;
  font-size: 1.5em;
}
.nav-bar-title {
  font-size: 19px;
  margin-top: 5px;
}
.toggle-menu{
  padding:5px;
}
.main-nav a:hover, .main-nav a:focus {
  background-color:#6f6f6f;
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
}
.content {
  padding-top: 120px;
  font-family: 'Lato-Regular';
}
.close-menu {
  display: none;
}
.glyphicon.glyphicon-chevron-right, .glyphicon.glyphicon-chevron-left {
  font-size: 25px;
  color: white;
  top: 20px;
}
nav.navbar.navbar-default.navbar-fixed-top {
  height: 150px;
  background-color: #52465A;
  text-align: center;
  border: none;
}
.nav-bar-link {
  font-size: 1.3em;
  color: white;
  font-family: Lato-Light;
}
.nav-bar-link:hover {
  color: #EA5A50;
}
/*navbar search*/
.navbar-form {
  background: none;
    margin-top: 15px;

}
#search-form {
  /*background-color: white;*/
}
#query {
  /*border: 2px white solid;*/
  border-radius: 0px;
  font-family: Lato-Regular;
  font-size: 1em; 
  height: 38px;
  margin-right: -4px;
}
input.btn.btn-default.search-submit{
    border-radius: 0px;
    /*height: 28px;*/
    border: 2px #7D7483 solid;
    background: #7D7483;
    color: #fff;
    font-family: Lato-Light;
    text-transform: uppercase;
    font-size: 1em;
    vertical-align: top;
}
input.btn.btn-default.search-submit:hover{
  transition: 0.3s ease;
    border-radius: 0px;
    /*height: 28px;*/
    border: 2px #EA5A50 solid;
    background-color: #EA5A50;
    color: white;
}
.navbar-header {
  float: right;
}
/*navbar search*/

.form-control {
  border-radius: 0px;
}
.btn.btn-default.thin{
	padding: 0px 12px;
}
.login-container {
  text-align: center;
}

#main-nav:target {
  width: 15%;
}
#main-nav:target > a{
	opacity:1;
}
#main-nav:target + .page-wrap {
  width: 80%;
}
#main-nav:target + .page-wrap .open-menu {
  display: none;
}
#main-nav:target + .page-wrap .close-menu {
  display: block;
}
#main-nav:target + .page-wrap .main-header {
  /*width: 85%;*/
  left: 15%;
}
.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('http://s3.postimg.org/6q3ff7e4z/05132014_Beach_Party_original_copy.jpg');
  background-repeat:repeat;
}
.fullscreen_bg_cups {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  /*background-image: url('http://s28.postimg.org/bnn89b8m5/tumblr_m79x80z9_M51r3pbe7o1_1280_blured_1.jpg');*/
  background-image: image-url("cups-blured-purple_1.jpg");
  background-repeat:repeat;
}

.login-container {
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.transparent-bg {
  background-color:rgba(70, 70, 70, 0.29);
}
/*div#silo {
    text-align: center;
    margin-top: 5%;
}*/
/*SIGNIN LOGOS*/
div#silo {
  background-image: image-url("nhie_logo_2.png");
  background-position: 50% 50%;
  background-size: contain;
  height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 5%;
}


div#silo:hover {
  background-image: image-url("nhie_logo_1.png");
  background-position: 50% 50%;

}
/*SIGNIN LOGOS*/

/*SIGNUP LOGOS*/
div#signup-logos {
  background-image: image-url("NHIE_logo_animation_2.gif");
  background-position: 50% 50%;
  background-size: contain;
  height: 400px;
  width: 75%;
  /*float: left;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  background-repeat: no-repeat;
  /*belore fore previous spining logo*/
/*  -webkit-transition:width .5s, height .5s, -webkit-transform .5s;
  transition:width .5s, height .5s, transform .5s;*/
}
/*div#signup-logos:hover {
  background-image: image-url("nhie_logo_4.png");
  background-position: 50% 50%;
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}*/
/*SIGNUP LOGOS*/

.new-user-form div#signup-logos {
  background-image: image-url("NHIE_logo_animation_1.gif");
  background-position: 50% 50%;
  background-size: contain;
  height: 150px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  background-repeat: no-repeat;

}



.bottom{
  width: 250px;
  height: 250px;
  margin-right: auto;
  margin-left: auto;
} 

.signup-logo-left{
  width: 400px;
  height: 400px;
  float: left;
  margin-right: auto;
  margin-left: 12%;
  margin-top: 5%;
} 

/*SIGNIN FORM*/
.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  /*margin-top: 11%;*/
  /*float: right;*/
  /*margin-right: 20%;*/
  text-align: left;
}

.form-signup {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  /*margin-top: 4%;*/
  /*float: right;*/
  /*margin-right: 20%;*/
}
label {
  color: white;
}

.form-signup a {
  color: #CCCCCC;
  text-transform: uppercase;
}
.form-signup a:hover {
  color: #EA5A50;
  text-transform: uppercase;
}
.form-signin a {
  color: #CCCCCC;
  text-transform: uppercase;
}
.form-signin a:hover {
  color: #EA5A50;
  text-transform: uppercase;
}
.form-signin label, input#remember_me {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato-Light;
}

form#new_user label {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Lato-Light;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10;
}

.form-control::-webkit-input-placeholder, textarea.box::-webkit-input-placeholder {
  color: #cccccc;
}
.Signin-page-heading {
  color: #CCCCCC;
  font-family: Lato-Bold;
  margin-bottom: 20px;
  font-size: 22px;
}
.Signin-page-line {
  margin-bottom: 30px;
  margin-top: 5px;
}
/*SIGNIN FORM*/

/*USERNAME INPUT*/
input#username, 
input#password, 
input#user_first_name, 
input#user_last_name, 
input#user_username,
input#user_email,
input#user_password,
input#user_password_confirmation {
  background: white;
  color: #404040;
  outline:none;
  border-radius: 0px; 
}

input#user_image {
  color: white;
}

input#username:focus, input#password:focus {
  outline:none;
}
form#new_user {
  margin-top: -20px;
}
/*SIGN IN CHECKBOX */
label.checkbox {
  display: inline;
}

/*SIGN IN BUTTON*/
input.btn.btn-lg.btn-primary.btn-block {
  border-radius: 0px;
  border-color: #52465A;
  border: 2px #52465A solid;
  background: #52465A;
}
input.btn.btn-lg.btn-primary.btn-block:hover{
  transition: background-color 0.5s ease;
  background-color: #EA5A50;
  border: 2px #EA5A50 solid;
}

.over-form-right-line {
  width: 400px;
  margin-bottom: 0px;
}

/*FLIPPING CONTAINER*/
.flip-container {
  -webkit-perspective:1000;
  -moz-perspective:1000;
  width: 100%;
  min-width: 300px;
  margin: auto;
}
.flipper {
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  position: relative;
  height: 200px;
}
.front, .back {
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;

  font-size: 2em;
  /*line-height: 200px;*/
  text-align: center;
}
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  background: #fff;
  padding: 0 25px;
  color: #606060;

}
.front { 
  color: #fff;
  z-index: 2;  
  color: #666666; 
  /*border: 3px #444444 solid;*/
  background-color: #fff;
  padding: 0 25px;
  box-shadow: 0px 2px 15px 0px rgba(221, 220, 220, 0.75);
}
.front h3 {
  font-weight: bolder;
}
.vertical-flip-container .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
}
.vertical-flip-container:hover .flipper, .vertical-flip-container.hover .flipper {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
}

/*FLIPPING CONTAINER*/

a.event-list-titles-dark {
  font-family: Lato-Bold;
  color: #777777;
  font-size: 1.3em;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 60px;
}

a.event-list-titles-light {
  font-family: Lato-Regular;
  color: #404040;
  font-size: 0.9em;
  display: block;
  margin-top: 5%;
}
a.event-list-titles-light:first-letter {
 text-transform: capitalize;
}

a.event-list-titles-light:hover {
  font-family: Lato-Bold;
  color:  #EA5A50;
  font-size: 0.9em;
}


hr.event-index-card-lines {
  width: 75px;
}

p.event-description {
  /*margin-top: -100px;*/
  font-family: Lato-light;
  text-align: center;
}

/*SIDEBAR*/
.sidebar-photo {
  height: initial;
  width: 85%;
  margin-left: 8%;
  margin-top: 8%;
  border-radius: 50%; 
  text-align: center;
}
.sidebar-photo > img {
    height: initial;
  width: 80%;
  border-radius: 50%; 
  border: 3px white solid;
}
.sidebar-links> a {
  text-align: center;
  color: white;
  opacity: 100;
  margin-top: 1px;
  /*margin: 0;*/
  padding: 10;
  font-family: Lato-Light;
  font-size: 1em;
  border: 0px rgba(60, 60, 60, 0.25) solid;
  text-transform: uppercase;
  background-color: rgba(36, 36, 36, 0.25);}
.sidebar-links> a:hover {
  text-align: center;
  color: white;
  opacity: 100;
  background-color: #EA5A50;
  /*margin-top: 5%;*/
  margin-top: 1px;
  padding: 10;
  font-family: Lato-Light;
  font-size: 1em;
  border: 0px rgba(60, 60, 60, 0.25) solid;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}
.sidebar-name {
  color: white;
  font-family: Lato-Bold;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 30px;
}
.member-since {
  color: #888888;
  font-size: 0.7em;
  font-family: Lato-Light;
  position: absolute;
  bottom: 0;
  /*text-align: center;*/
  margin-left: 20%;
}
.sidebar-hr {
  border-color: #666666;
}

span.glyphicon {
  font-weight: 700;
}
/*SIDEBAR*/

/*CREATE EVENT FORM*/
input.btn.btn-lg.btn-primary.btn-block.on-white {
  border-radius: 0px;
  border: 2px #7D7483 solid;
  color: #fff;
  font-family: Lato-Regular;
  margin-bottom: 75px;
  background-color: #7D7483;
}
input.btn.btn-lg.btn-primary.btn-block.on-white:hover {
  transition: background-color 0.5s ease;
  border: 2px #EA5A50 solid;
  background-color: #EA5A50;
  color: white;
}
#event_event_name, #event_description, #event_location, #event_url {
  border: 1px solid #DDDDDD;
}
  
.white-background  {
  color: #888888;
  font-family: Lato-Bold;
}

a.btn.btn-lg.btn-primary.btn-block {
  font-family: Lato-Light;
  background-color: #EA5A50;
  border: 2px #EA5A50 solid;
  color: white;
  border-radius: 0px;
  width: 300px;
  font-size: 1em;
  word-spacing: 2px;
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */

}
a.btn.btn-lg.btn-primary.btn-block:hover {
  font-family: Lato-Light;
  background-color: #EA5A50;
  border: 2px #EA5A50 solid;
  color: white;
  border-radius: 0px;
  width: 330px;
  font-size: 1em;
}
/*CREATE EVENT FORM*/

/*HEADINGS*/
.main-heading {
  color: #888888;
  font-family: Norwester;
  font-size: 4em;
  letter-spacing: 1px;
  /*text-transform: uppercase;*/
  margin-bottom: 50px;
  margin-top: 75px;
}
.sub-heading {
  color: #444444;
  font-family: Lato-BOLD;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 10px;
}
h1.main-heading.centered {
  margin-top: 30px;
  color: white;
}

/*HEADINGS*/

.text-danger {
  color: #EA5A50;
  text-transform: uppercase;
}

.text-red {
  color: #EA5A50;
}

.form-control:focus{
  border-color: #444444;
  -webkit-box-shadow: 0 0 5px rgba(255, 52, 39, 1);
  box-shadow: 0 0 5px rgba(255, 52, 39, 1);
}

/*USERS SHOW PAGE*/
.profile-background {
  margin-top: -2%;
  background-image: image-url("blurred_cups_purple.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: 550px;
  box-shadow:0px 2px 15px 0px rgba(221, 220, 220, 0.75);
}
/*%%%%BLUR%%%%%*/
/*.profile-background img {*/
  /* max-height: 300px; */
  /*width: 112%;*/
  /*margin-top: -173px;*/
  /* height: initial; */
  /* margin-bottom: -50px; */
  /*background-size: initial;*/
  /*-webkit-filter: blur(50px);*/
  /*filter: blur(25px);*/
  /*margin-left: -50px;*/
  /*margin-right: 50px;*/
/*}*/
/*%%%%BLUR%%%%%*/
.profile-photo {
  margin-top: 250px;
  text-align: center;
  /*position: relative;*/
}
.profile-photo > img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /*margin-left: -150px;*/
  margin-top: -135px;
  border: 4px white solid;
    /*position: absolute;*/

}
.user-row {
  margin-top: 30px;
}
.user-row a {
  color: #52465A;
  font-size: 20px;
}
.user-row a:hover {
  color: #7D7483;
}
.user-row a.user-action {
  color:  #EA5A50;
  font-size: 25px;
}
.user-action {
  float: right;
  margin-left: 10px;
}

.item-section {
  margin-top: 25px;
  margin-bottom: 25px;
}
.bottom-space {
  margin-bottom: 50px;
}
.item-info > p {
  color: #888;
  font-size: 16px;
}

.item-info > a {
  text-transform: capitalize;
  font-size: 16px;
}

/*// label on left*/
.item-label:before {
  width: 25%;
  margin-left: 75%;
  border-top: 1px solid #CCC;
  display: block;
  content: "";
  margin-bottom: 0px;
}

.item-label {
  width: 175px;
  position: absolute;
  left: -200px;
  text-align: right;
  color: #CCC;
  /*font-family: Cardoi99;*/
  text-transform: uppercase;
}
/*// label on the left*/

.all-items {
  /*margin-top: 20%;*/
}

.friend-count {
  margin-top: 20%;
  border: 3px #cccccc solid;
  width: 100px;
  height: 100px;
  border-radius: 50%; 
}
.friend-count div {
  margin-top: -5%;
}