// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-header {
  text-align: center;
  /*// border: px #888888 solid;*/
  /*border: 3px #fff solid;*/
  /*background-color: white;*/
  margin-top: 8%;
  margin-bottom: 8%;
  padding: 0 10px 10px 16px;
  // height: 200px;
  // width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h3.event-title {
  /*color: #888888;*/
  font-weight: bolder;
  color: #888888;
  font-size: 3.4em;
  font-family: 'Norwester';
  letter-spacing: 1px;
  text-transform: uppercase;
  word-wrap: break-word;
  margin-bottom: 30px;
  margin-top: 60px;
  padding-top: 60px;
}

.byline {
    margin-top: -20px;

}

.byline a {
  color: #7D7483;
  font-size: 16px;
  margin-top: -20px;
}
.byline a:hover {
  color:  #EA5A50;
}


.event-attendance {
  margin: 75px 0;
  text-align: center;
  color: #888;
}

.event-attendance:before {
  width: 20%;
  margin-left: 40%;
  border-top: 1px solid #CCC;
  display: block;
  content: "";
  margin-bottom: 20px;
}

.event-attendance:after {
  width: 20%;
  margin-left: 40%;
  border-top: 1px solid #CCC;
  display: block;
  content: "";
  margin-top: 20px;
}

input.btn.btn-default.thin.form-control.event-button.delete-message {
  border: 2px #EA5A50 solid;
  background-color: #EA5A50;
  box-shadow: none;
  margin-top: 5px;
  width: 300px;
  color: white;
  height: 36px;
  font-family: Lato-Light;
  text-transform: uppercase;

}

input.btn.btn-default.thin.form-control.event-button.delete-message:hover {
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
  width: 330px;
  border: 2px #ff3427 solid;
}


input.btn.btn-default.thin.form-control.event-button.create-message{
  float: right;
  width: 300px;
  border: 2px #7D7483 solid;
  font-family: Lato-Light;
  height: 36px;
  text-transform: uppercase;
  color: #fff;
  background-color: #7D7483;
}
input.btn.btn-default.thin.form-control.event-button.create-message:hover {
  float: right;
  width: 300px;
  border: 2px #ff3427 solid;
  background-color: #ff3427;
  font-family: Lato-Light;
  color: white;
}


input.btn.btn-default.thin.form-control.event-button.event-action {
  margin: 75px 0;
}

.no-events-yet {
  margin-top: 80px;
  font-family: Lato-Light;
  color: #888888;
}

.white-backer {
  color: #fff;
  z-index: 2;  
  color: #666666; 
  height: 200px;
  /*border: 3px #444444 solid;*/
  background-color: #fff;
  padding: 0 25px;
  box-shadow: 0px 2px 15px 0px rgba(221, 220, 220, 0.75);
  margin-top: 10%;
}

.top-space {
  height: 35px;
}

.not-found {
  text-align: center;
  padding-top: 55px;
}
.lost-box {
  height: 200px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 15px 0px rgba(221,220,220,0.75);
  margin-top: 20%;
}
i.fa.fa-external-link {
  color: #bbbbbb;
}