// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-header {
  text-align: center;
  /*// border: px #888888 solid;*/
  border: 3px #444444 solid;
  margin-top: 8%;
  margin-bottom: 8%;
  padding: 0 10px 10px 16px;
  // height: 200px;
  // width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h3.event-title {
  // color: #888888;
  color: black;
  font-size: 2.3em;
  font-family: 'Lato-light';
  text-transform: uppercase;
  word-wrap: break-word;
  margin-bottom: 30px;
  margin-top: 50px;
}


.byline {
  color: #FF3427;
  font-size: 16px;
}

.event-attendance {
  margin: 75px 0;
  text-align: center;
  color: #888;
}

.event-attendance:before {
  width: 20%;
  margin-left: 40%;
  border-top: 1px solid #CCC;
  display: block;
  content: "";
  margin-bottom: 20px;
}

.event-attendance:after {
  width: 20%;
  margin-left: 40%;
  border-top: 1px solid #CCC;
  display: block;
  content: "";
  margin-top: 20px;
}

input.btn.btn-default.thin.form-control.event-button.delete-message {
  border: 2px #ff3427 solid;
  background-color: #ff3427;
  box-shadow: none;
  margin-top: 5px;
  width: 300px;
  color: white;
}

input.btn.btn-default.thin.form-control.event-button.delete-message:hover {
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
  width: 330px;
  border: 2px #ff3427 solid;
}


input.btn.btn-default.thin.form-control.event-button.create-message{
  float: right;
  width: 300px;
  border: 2px #888888 solid;
   font-family: Lato-Bold;
}
input.btn.btn-default.thin.form-control.event-button.create-message:hover {
  float: right;
  width: 300px;
  border: 2px #ff3427 solid;
  font-family: Lato-Bold;
}


input.btn.btn-default.thin.form-control.event-button.event-action {
  margin: 75px 0;
}
