// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ 
.message {
  margin-bottom: 10px;
}
.message-avatar {
  width: 20%;
  float: left;
  border: 1px solid transparent; // to have the same position as the message box
}
.message-box {
  width: 80%;
  float: left;
  position: relative;
  color: #888888;
  font-family: Lato-Light;
  background: none repeat scroll 0% 0% #F2f2f2;
  padding: 10px 20px 10px;
  border: 1px solid #EEE;
  border-radius: 4px;
  margin: -65px 0px 20px 80px;
}

.message-title {
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
}

.message-timestamp {
  float: right;
}

p {
  font-size: 15px;
  word-wrap: break-word;
}

#message_body {
  border: 1px solid #CCC;
  padding: 6px 10px;
  width: 100%;
  color: #555;
  word-wrap: break-word;
}

em.text-red {
  font-family: Lato-Bold;
  font-size: 1em;
}